body {
  font-size: 14px;
  line-height: 1.714em;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Charcoal", sans-serif;
  color: #000000;
  background-color: #f8f5f2;
}

h2 {
  font-size: 30px;
  line-height: 1.4em;
}

h3 {
  font-size: 14px;
  line-height: 1.286em;
}
